.home {
    &__submit {
        margin-top: 16px;
    }

    &__image {
        display: block;
        max-width: 100%;
        max-height: 240px;
        margin: 0 auto;
    }

    &__title-image {
        text-align: center;
        margin: 8px 0;
        color: var(--color-gray-1);

        &--success {
            color: var(--color-brand);
        }
    }

    &__icon-image {
        display: flex;
        justify-content: center;
        margin: 12px 0;
        color: var(--color-gray-2);
    }

    &__download {
        margin-top: 12px;

        .button {
            display: block;
            margin: 0 auto;
        }
    }

    &__info-list {
        margin-top: 20px;
    }

    &-info {
        margin-top: 24px;
        margin: 0 -12px;
        padding: 20px 12px;

        is-danger() {
            .home-info--danger & {
                {block};
            }
        }

        is-success() {
            .home-info--success & {
                {block};
            }
        }

        &--danger {
            background-color: var(--color-danger-2);
        }

        &--success {
            background-color: var(--color-success-2);
        }

        &-item {
            display: flex;
            align-items: flex-start;

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            &__icon {
                +is-danger() {
                    color: var(--color-danger);
                }

                +is-success() {
                    color: var(--color-success);
                }
            }

            &-text {
                padding-left: 12px;

                &__title {
                    color: var(--color-black);
                    font-weight: $font-weight-bold;
                }

                &__comment {
                    margin-top: 4px;
                    font-size: $font-size-small;
                    color: var(--color-gray-1);
                }
            }
        }
    }
}