.badge {
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 100%;
    text-align: center;
    overflow: hidden;
    color: var(--color-white-force);
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    white-space: nowrap;

    &--color {
        &-brand {
            background-color: var(--color-brand);
        }

        &-danger {
            background-color: var(--color-danger);
        }

        &-warning {
            background-color: var(--color-warning);
        }

        &-success {
            background-color: var(--color-success);
        }

        &-black {
            background-color: var(--color-black);
            color: var(--color-white);
        }

        &-gray {
            background-color: var(--color-gray-1);
        }
    }
}