.button {
    display: inline-flex;
    font-weight: $font-weight-bold;
    position: relative;
    border-radius: $border-radius-medium;

    is-color($color) {
        &.button--color-{$color} {
            {block};
        }
    }

    is-squared() {
        &.button--squared {
            {block};
        }
    }

    is-not-squared() {
        &:not(.button--squared) {
            {block};
        }
    }

    is-active() {
        &.button--active {
            {block};
        }
    }

    is-disabled() {
        &.button--disabled {
            {block};
        }
    }

    is-not-disabled() {
        &:not(.button--disabled) {
            {block};
        }
    }

    is-loading() {
        &.button--loading {
            {block};
        }
    }

    is-attach-active() {
        &.attach-target--active {
            {block};
        }
    }

    is-extra($extra) {
        &.button--extra-{$extra} {
            {block};
        }
    }

    is-not-extra($extra) {
        &.button:not(.button--extra-{$extra}) {
            {block};
        }
    }

    &--filled {
        width: 100%;
    }

    &--size {
        &-large {
            height: $box-size-large;

            +is-not-squared() {
                padding-left: 32px;
                padding-right: 32px;
            }

            +is-squared() {
                width: $box-size-large;
            }
        }

        &-medium {
            height: $box-size-medium;

            +is-not-squared() {
                padding-left: 24px;
                padding-right: 24px;
            }

            +is-squared() {
                width: $box-size-medium;
            }
        }

        &-small {
            height: $box-size-small;

            +is-not-squared() {
                padding-left: 16px;
                padding-right: 16px;
            }

            +is-squared() {
                width: $box-size-small;
            }
        }

        &-xsmall {
            height: $box-size-xsmall;

            +is-not-squared() {
                padding-left: 8px;
                padding-right: 8px;
            }

            +is-squared() {
                width: $box-size-xsmall;
            }
        }
    }

    +is-not-disabled() {
        cursor: pointer;

        +is-color('gray') {
            color: var(--color-gray-1);

            .button__container {
                > .icon {
                    color: var(--color-gray-2);
                }
            }

            &:hover {
                background-color: var(--color-gray-4);
            }

            +is-attach-active() {
                background-color: var(--color-gray-4);
            }

            +is-not-extra('icon-color-default') {
                .button__prepend, .button__append {
                    color: var(--color-gray-2);
                }
            }
        }

        &.button--variant {
            &-primary {
                +is-color('brand') {
                    color: var(--color-white-force);
                    background-color: var(--color-brand);

                    &:hover {
                        background-color: var(--color-brand-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-brand-hover);
                    }
                }

                +is-color('danger') {
                    color: var(--color-white-force);
                    background-color: var(--color-danger);

                    &:hover {
                        background-color: var(--color-danger-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-danger-hover);
                    }
                }

                +is-color('warning') {
                    color: var(--color-white-force);
                    background-color: var(--color-warning);

                    &:hover {
                        background-color: var(--color-warning-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-warning-hover);
                    }
                }

                +is-color('success') {
                    color: var(--color-white-force);
                    background-color: var(--color-success);

                    &:hover {
                        background-color: var(--color-success-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-success-hover);
                    }
                }

                +is-color('black') {
                    color: var(--color-white);
                    background-color: var(--color-black);
                }
            }

            &-secondary {
                +is-color('brand') {
                    color: var(--color-brand);
                    background-color: var(--color-brand-2);

                    &:hover {
                        background-color: var(--color-brand-2-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-brand-2-hover);
                    }
                }

                +is-color('danger') {
                    color: var(--color-danger);
                    background-color: var(--color-danger-2);

                    &:hover {
                        background-color: var(--color-danger-2-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-danger-2-hover);
                    }
                }

                +is-color('warning') {
                    color: var(--color-warning);
                    background-color: var(--color-warning-2);

                    &:hover {
                        background-color: var(--color-warning-2-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-warning-2-hover);
                    }
                }

                +is-color('success') {
                    color: var(--color-success);
                    background-color: var(--color-success-2);

                    &:hover {
                        background-color: var(--color-success-2-hover);
                    }

                    +is-attach-active() {
                        background-color: var(--color-success-2-hover);
                    }
                }

                +is-color('black') {
                    color: var(--color-black);
                    background-color: var(--color-gray-4);

                    .button__container {
                        > .icon {
                            color: var(--color-gray-2);
                        }
                    }

                    &:hover {
                        background-color: var(--color-gray-3);
                    }

                    +is-attach-active() {
                        background-color: var(--color-gray-3);
                    }

                    +is-not-extra('icon-color-default') {
                        .button__prepend, .button__append {
                            color: var(--color-gray-2);
                        }
                    }
                }
            }

            &-tertiary {
                +is-color('brand') {
                    color: var(--color-brand);

                    &:hover {
                        background-color: var(--color-brand-2);
                    }

                    +is-attach-active() {
                        background-color: var(--color-brand-2);
                    }
                }

                +is-color('danger') {
                    color: var(--color-danger);

                    &:hover {
                        background-color: var(--color-danger-2);
                    }

                    +is-attach-active() {
                        background-color: var(--color-danger-2);
                    }
                }

                +is-color('warning') {
                    color: var(--color-warning);

                    &:hover {
                        background-color: var(--color-warning-2);
                    }

                    +is-attach-active() {
                        background-color: var(--color-warning-2);
                    }
                }

                +is-color('success') {
                    color: var(--color-success);

                    &:hover {
                        background-color: var(--color-success-2);
                    }

                    +is-attach-active() {
                        background-color: var(--color-success-2);
                    }
                }

                +is-color('black') {
                    color: var(--color-black);

                    &:hover {
                        background-color: var(--color-gray-4);
                    }

                    +is-attach-active() {
                        background-color: var(--color-gray-4);
                    }

                    +is-active() {
                        background-color: var(--color-gray-4);
                        color: var(--color-brand);
                    }

                    +is-not-extra('icon-color-default') {
                        .button__prepend, .button__append {
                            color: var(--color-gray-2);
                        }
                    }
                }
            }
        }
    }

    +is-disabled() {
        cursor: default;
        background-color: var(--color-gray-3);
        color: var(--color-gray-2);
    }

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    +is-loading() {
        .button__container {
            opacity: 0;
        }
    }

    &__loading {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-gray-1);
    }

    &__prepend {
        margin-right: 14px;
    }

    &__append {
        margin-left: 14px;
    }
}