.card {
    margin-left: -12px;
    margin-right: -12px;

    &-head {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        margin-top: -8px;
        background-color: var(--color-gray-4);
        position: sticky;
        top: $header-size;
        border-bottom: 1px solid var(--color-gray-3);
        z-index: 2;

        + .card__body {
            border-top: 0;
        }

        &__title {
            make-h4();
        }

        &__append {
            margin-left: auto;
        }
    }

    &__body {
        border-top: 1px solid var(--color-gray-3);
        border-bottom: 1px solid var(--color-gray-3);
        background-color: var(--color-white);
        padding: 20px 12px;
    }
}