.dropdown {
    z-index: 50;
    cursor: default;
    padding: 8px 0;

    &__container {
        make-box();
        box-shadow: $shadow-elevation-2;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &--size {
        &-small {
            width: 200px;

            .dropdown__container {
                max-height: $box-size-medium * 4;
            }
        }

        &-medium {
            width: 280px;

            .dropdown__container {
                max-height: $box-size-medium * 5;
            }
        }

        &-large {
            width: 380px;

            .dropdown__container {
                max-height: $box-size-medium * 8;
            }
        }

        &-custom {
            width: auto;
        }

        &-fill {
            .dropdown__container {
                max-height: $box-size-medium * 8;
            }
        }
    }

    &-tr {
        &-enter-active {
            transition: opacity $transition-duration ease;
        }

        &-enter, &-leave-to {
            opacity: 0;
        }
    }

    &-item {
        &:first-child {
            margin-top: 8px;
        }

        &:last-child {
            margin-bottom: 8px;
        }

        .button {
            display: block;
            width: 100%;
            border-radius: 0 !important;

            &__container {
                justify-content: flex-start;
            }

            &__append {
                margin-left: auto;
                padding-left: 14px;
            }

            &__append, &__prepend {
                color: var(--color-brand);
            }
        }

        &__text {
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}