.faq-item {
    padding: 0 12px;
    margin: 0 -12px;
    border-bottom: 1px solid var(--color-gray-3);

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    &-head {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px 0;

        is-active() {
            .faq-item-head.collapse-target--active & {
                {block};
            }
        }

        is-hover() {
            .faq-item-head:hover & {
                {block};
            }
        }

        &__title {
            flex-grow: 1;
            padding-right: 12px;
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;

            +is-hover() {
                color: var(--color-brand);
            }

            +is-active() {
                color: var(--color-brand);
            }
        }

        &__icon {
            color: var(--color-gray-1);
            transition: transform $transition-duration ease-in-out;

            +is-active() {
                transform: rotate(180deg);
            }
        }
    }

    &__content {
        padding-bottom: 24px;
        color: var(--color-gray-1);
    }
}