.header {
    height: $header-size;

    &__main {
        background-color: var(--color-brand);
        color: var(--color-white-force);
        position: fixed;
        left: 0;
        top: 0;
        height: $header-size;
        width: 100%;
        z-index: 50;
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__logo {
        make-h6();
    }

    &__menu {
        margin: -12px -12px -12px auto;
        padding: 12px;
    }
}