.input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--color-gray-3);
    border-radius: $border-radius-medium;
    cursor: text;

    &--variant {
        &-primary {
            background-color: var(--color-gray-4);
        }

        &-secondary {
            background-color: var(--color-white);
        }
    }

    &:not(&--disabled) {
        &:hover {
            border-color: var(--color-gray-2);
        }
    }

    &:not(&--readonly)&--focused, &--readonly-silence&--focused, .input.attach-target--active & {
        border-color: var(--color-brand) !important;
        background-color: var(--color-white);
    }

    &--disabled {
        background-color: var(--color-gray-3);
        color: var(--color-gray-2);
        cursor: default;
    }

    &--readonly:not(&--readonly-silence) {
        cursor: text;
        background-color: var(--color-gray-3);
    }

    &--readonly&--readonly-silence {
        cursor: pointer;
    }

    &__wrapper {
        &.validation--invalid {
            .input {
                border-color: var(--color-danger) !important;
            }
        }
    }

    &--size {
        &-large {
            height: $box-size-large;
        }

        &-medium {
            height: $box-size-medium;
        }

        &-small {
            height: $box-size-small;
        }
    }

    is-size($size) {
        .input--size-{$size} & {
            {block};
        }
    }

    is-disabled() {
        .input--disabled & {
            {block};
        }
    }

    is-readonly-silence() {
        .input--readonly-silence & {
            {block};
        }
    }

    is-readonly-not-silence() {
        .input--readonly:not(.input--readonly-silence) & {
            {block};
        }
    }

    &__field {
        margin-top: -1px;
        height: calc(100% + 1px);
        flex-grow: 1;
        width: 0;
        border-radius: $border-radius-medium;
        set-placeholder-color(var(--color-gray-1));

        +is-size('large') {
            padding: 0 24px;
        }

        +is-size('medium') {
            padding: 0 16px;
        }

        +is-size('small') {
            padding: 0 8px;
            font-size: $font-size-small;
        }

        +is-disabled() {
            color: var(--color-gray-1);
        }

        +is-readonly-not-silence() {
            cursor: text;
        }

        +is-readonly-silence() {
            cursor: pointer;
        }
    }

    &__prepend {
        +is-size('large') {
            padding-left: 24px;
        }

        +is-size('medium') {
            padding-left: 16px;
        }

        +is-size('small') {
            padding-left: 8px;
        }
    }

    &__append {
        +is-size('large') {
            padding-right: 24px;
        }

        +is-size('medium') {
            padding-right: 16px;
        }

        +is-size('small') {
            padding-right: 8px;
        }
    }

    &__prepend, &__append {
        make-no-select();
        color: var(--color-gray-1);

        .icon {
            color: var(--color-gray-2);
        }

        > button {
            &:hover {
                color: var(--color-brand);

                .icon {
                    color: var(--color-brand);
                }
            }
        }
    }
}