.input-date {
    position: relative;

    .daterangepicker {
        position: absolute;
        top: 100%;
        padding-top: 8px;
        z-index: 50;

        &.opens {
            &left {
                left: 0;
            }

            &right {
                right: 0;
            }

            &center {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .calendars {
            make-box();
            overflow: hidden;
            box-shadow: $shadow-elevation-2;
            display: flex;
            align-items: flex-start;
        }

        .drp-calendar {
            padding: 12px 14px 20px;
        }

        .calendar-table {
            table {
                border-spacing: 4px;
            }

            thead {
                th {
                    &.month {
                        width: 100%;
                        text-align: center;
                        font-weight: $font-weight-bold;
                    }

                    &.prev, &.next {
                        $size = 32px;
                        height: $size;
                        width: $size;
                        min-width: $size;
                        cursor: pointer;
                        border-radius: $border-radius-medium;
                        position: relative;
                        color: var(--color-gray-2);

                        &:hover {
                            color: var(--color-brand);
                            background-color: var(--color-brand-2);
                        }

                        span {
                            width: 9px;
                            height: 9px;
                            border: 2px solid currentColor;
                            position: absolute;
                            top: calc(50% - 4px);
                            border-width: 0 0 2px 2px;
                        }
                    }

                    &.prev {
                        span {
                            left: calc(50% - 3px);
                            transform: rotate(45deg);
                        }
                    }

                    &.next {
                        span {
                            right: calc(50% - 3px);
                            transform: rotate(225deg);
                        }
                    }
                }
            }

            tbody {
                th {
                    font-size: $font-size-small;
                    font-weight: $font-weight-bold;
                    color: var(--color-gray-1);
                    text-align: center;
                    padding: 12px 0 8px;
                }

                td {
                    $size = 32px;
                    height: $size;
                    width: $size;
                    min-width: $size;
                    line-height: $size;
                    text-align: center;
                    cursor: pointer;
                    border-radius: $border-radius-medium;

                    &.off {
                        color: var(--color-gray-1);
                    }

                    &.in-range {
                        background-color: var(--color-brand-2);
                    }

                    &:hover, &.active {
                        background-color: var(--color-brand);
                        color: var(--color-white-force);
                    }

                    &.active {
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }
}

// transition datepicker component
.slide-fade {
    &-enter-active {
        transition: opacity $transition-duration ease;
    }

    &-enter, &-leave-to {
        opacity: 0;
    }
}