.input-box {
    display: block;

    &:not(&--disabled) {
        cursor: pointer;
    }

    &--disabled {
        cursor: default;
    }

    is-checked() {
        .input-box__field:checked + .input-box__container & {
            {block};
        }
    }

    is-checked-disabled() {
        .input-box--disabled .input-box__field:checked + .input-box__container & {
            {block};
        }
    }

    is-disabled() {
        .input-box--disabled & {
            {block};
        }
    }

    is-not-disabled() {
        .input-box:not(.input-box--disabled) & {
            {block};
        }
    }

    is-hover() {
        .input-box:hover & {
            {block};
        }
    }

    is-hover-not-disabled() {
        .input-box:not(.input-box--disabled):hover & {
            {block};
        }
    }

    is-checkbox() {
        .input-box--type-checkbox & {
            {block};
        }
    }

    is-radio() {
        .input-box--type-radio & {
            {block};
        }
    }

    &__field {
        position: absolute;
        height: 0;
        width: 0;
        left: -999999px;
    }

    &__container {
        display: inline-flex;
        align-items: flex-start;
    }

    &__box {
        $size = ($font-size-default * $line-height-default);
        height: $size;
        max-width: $size;
        min-width: $size;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-gray-3);
        background-color: var(--color-gray-4);
        border-radius: $border-radius-medium;

        +is-hover-not-disabled() {
            border-color: var(--color-gray-2);
        }

        +is-radio() {
            border-radius: 100%;
        }

        +is-disabled() {
            border-color: var(--color-gray-4);
        }

        +is-checked() {
            border-color: var(--color-brand);
            background-color: var(--color-brand);
        }

        +is-checked-disabled() {
            border-color: var(--color-gray-2);
            background-color: var(--color-gray-2);
        }

        &-icon {
            color: var(--color-white-force);
            transform: scale(0);
            opacity: 0;

            +is-radio() {
                height: 8px;
                width: 8px;
                border-radius: 100%;
                background-color: currentColor;
            }

            +is-checked() {
                transition: transform $transition-duration ease-in-out, opacity $transition-duration ease;
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    &__label {
        padding-left: 12px;

        +is-disabled() {
            color: var(--color-gray-2);
        }
    }
}