.listing {
    &__item {
        padding: 8px 12px;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-gray-3);
        }
    }

    &-top {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2px;

        &-info {
            display: flex;
            align-items: center;

            &__item {
                color: var(--color-gray-1);
                font-size: $font-size-small;

                &:not(:last-child) {
                    margin-right: 8px;

                    &:after {
                        content: '|';
                        margin-left: 6px;
                        color: var(--color-gray-2);
                    }
                }
            }
        }

        &__extra {
            margin-left: auto;
            make-h5();
        }
    }

    &-bottom {
        display: flex;
        align-items: flex-start;

        &__start {
            max-width: 60%;
            min-width: 50%;
        }

        &__end {
            margin-top: auto;
            margin-left: auto;
            display: flex;
            align-items: flex-end;
            padding-left: 24px;
        }
    }

    &-amount {
        make-h5();

        &__value {
            &--positive {
                color: var(--color-success);
            }

            &--negative {
                color: var(--color-danger);
            }
        }
    }

    &-req {
        display: flex;
        align-items: center;
        margin-top: 4px;

        &__value {
            font-size: $font-size-small;
        }

        &__info {
            margin-left: 8px;
            color: var(--color-gray-2);

            &:hover, &.attach-target--active {
                color: var(--color-brand);

                .icon {
                    color: var(--color-brand);
                }
            }

            .icon svg {
                $size = $font-size-small * $line-height-default;
                width: $size;
                height: $size;
            }
        }
    }

    &__comment {
        font-size: $font-size-small;
        padding: 4px 8px;
        background-color: var(--color-gray-4);
        border-radius: $border-radius-medium;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}