.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 300;

    &__backdoor {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: $backdoor-opacity;
        z-index: 1;

        &-tr {
            &-enter-active {
                transition: opacity $transition-duration ease;
            }

            &-enter, &-leave-to {
                opacity: 0;
            }
        }
    }

    &__scroll {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    &__container {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    &__content {
        position: relative;
        max-width: 480px;
        margin: 0 auto;
        padding: 24px;
        background-color: var(--color-white);
        box-shadow: $shadow-elevation-3;
        border-radius: $border-radius-medium;

        p {
            color: var(--color-gray-1);

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        &-tr {
            &-enter-active {
                transition: opacity $transition-duration ease, transform $transition-duration ease-out;
            }

            &-enter, &-leave-to {
                opacity: 0;
                transform: scale(0.9);
            }
        }
    }

    &__close {
        position: absolute;
        right: 16px;
        top: 16px;
        color: var(--color-gray-2);
        padding: 8px;
        margin: -8px;
        cursor: pointer;

        &:hover {
            color: var(--color-gray-1);
        }
    }

    &__title {
        make-h4();
        margin-bottom: 12px;
    }

    &__button {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .button {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
}