.notifications {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 400;

    &-list {
        width: 380px;

        &-item {
            border-radius: $border-radius-medium;
            padding: 12px 16px;
            box-shadow: $shadow-elevation-2;
            margin-bottom: 20px;
            border: 1px solid;
            display: flex;
            align-items: flex-start;

            is-color($color) {
                .notifications-list-item--color-{$color} & {
                    {block};
                }
            }

            is-has-title() {
                .notifications-list-item--has-title & {
                    {block};
                }
            }

            &--color {
                &-default {
                    border-color: var(--color-gray-3);
                    background-color: var(--color-white);
                }

                &-danger {
                    border-color: var(--color-danger);
                    background-color: var(--color-danger-2);
                }

                &-warning {
                    border-color: var(--color-warning);
                    background-color: var(--color-warning-2);
                }

                &-success {
                    border-color: var(--color-success);
                    background-color: var(--color-success-2);
                }
            }

            &__icon {
                margin-right: 16px;
                min-width: 24px;
                max-width: 24px;

                +is-color('danger') {
                    color: var(--color-danger);
                }

                +is-color('warning') {
                    color: var(--color-warning);
                }

                +is-color('success') {
                    color: var(--color-success);
                }
            }

            &__content {
                flex-grow: 1;
            }

            &__title {
                font-weight: $font-weight-bold;
                margin-bottom: 2px;
            }

            &__text {
                +is-has-title() {
                    color: var(--color-gray-1);
                }
            }

            &__close {
                $size = ($font-size-default * $line-height-default);
                margin-left: 16px;
                height: $size;

                +is-color('default') {
                    color: var(--color-gray-2);

                    &:hover {
                        color: var(--color-gray-1);
                    }
                }

                +is-color('danger') {
                    color: var(--color-danger);

                    &:hover {
                        color: var(--color-danger-hover);
                    }
                }

                +is-color('warning') {
                    color: var(--color-warning);

                    &:hover {
                        color: var(--color-warning-hover);
                    }
                }

                +is-color('success') {
                    color: var(--color-success);

                    &:hover {
                        color: var(--color-success-hover);
                    }
                }
            }

            &-tr {
                &-enter-active, &-leave-active, &-move {
                    transition: opacity ($transition-duration * 4) ease, transform ($transition-duration * 4) ease-in-out;
                }

                &-enter, &-leave-to {
                    transform: translateX(380px + 40px);
                    opacity: 0;
                }

                &-leave-active {
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }
}