.page-loading {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    &__bar {
        height: 3px;
        width: 100%;
        background-color: var(--color-white-force);
        box-shadow: 0 0 10px 0 var(--color-white-force);
        transform: translateX(-100%);
        animation: page-loading-bar ($transition-duration * 10) ease-in-out infinite;

        // 
        @keyframes page-loading-bar {
            0% {
                transform: translateX(-100%);
            }

            50% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(100%);
            }
        }
    }
}