.pagination {
    display: flex;
    align-items: center;

    &__main {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        +breakpoint('small') {
            display: none;
        }

        &__item {
            padding: 8px;
            color: var(--color-gray-1);
            font-weight: $font-weight-bold;

            button& {
                &:hover, &--active {
                    color: var(--color-brand);
                }
            }
        }
    }

    &-m {
        margin: 0 auto;
        color: var(--color-gray-1);

        +breakpoint('large-to-medium') {
            display: none;
        }
    }
}