.photo-file {
    display: block;
    border: 2px dashed var(--color-gray-3);
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: $border-radius-medium;
    overflow: hidden;

    &__icon {
        color: var(--color-gray-2);
    }

    &__text {
        padding-left: 12px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}