.progress {
    background-color: var(--color-gray-3);
    overflow: hidden;

    &--size {
        &-small {
            height: 4px;
            border-radius: 2px;
        }

        &-large {
            height: 8px;
            border-radius: 4px;
        }
    }

    is-size($size) {
        .progress--size-{$size} & {
            {block};
        }
    }

    is-color($color) {
        .progress--color-{$color} & {
            {block};
        }
    }

    &__bar {
        width: 0;
        height: 100%;
        transition: width ($transition-duration * 3) ease-in-out, background-color ($transition-duration * 3) ease;

        +is-size('small') {
            border-radius: 2px;
        }

        +is-size('large') {
            border-radius: 4px;
        }

        +is-color('brand') {
            background-color: var(--color-brand);
        }

        +is-color('danger') {
            background-color: var(--color-danger);
        }

        +is-color('warning') {
            background-color: var(--color-warning);
        }

        +is-color('success') {
            background-color: var(--color-success);
        }

        +is-color('black') {
            background-color: var(--color-black);
        }

        +is-color('gray') {
            background-color: var(--color-gray-1);
        }
    }
}