.sidebar-news {
    &-list {
        make-box();
        padding-top: 16px;
        padding-bottom: 20px;

        &-item {
            display: block;

            is-hover() {
                .sidebar-news-list-item:hover & {
                    {block};
                }
            }

            &:not(:last-child) {
                padding-bottom: 16px;
                border-bottom: 1px solid var(--color-gray-3);
                margin-bottom: 16px;
            }

            &-top {
                display: flex;
                align-items: flex-start;
                padding-left: 20px;
                padding-right: 20px;

                &__title {
                    make-h5();

                    +is-hover() {
                        color: var(--color-brand);
                    }
                }

                &__tag {
                    margin-left: auto;
                }
            }

            &__date {
                font-size: $font-size-xsmall;
                font-weight: $font-weight-bold;
                color: var(--color-gray-1);
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 2px;
            }

            &__content {
                margin-top: 8px;
                color: var(--color-gray-1);
                font-size: $font-size-small;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}