.spin {
    color: var(--color-gray-2);

    make-size($size) {
        height: $size;
        min-width: $size;
        max-width: $size;
    }

    &--size {
        &-large {
            make-size($font-size-xlarge);
        }

        &-medium {
            make-size($font-size-large);
        }

        &-small {
            make-size($font-size-default);
        }

        &-xsmall {
            make-size($font-size-xsmall);
        }
    }

    is-size($size) {
        .spin--size-{$size} & {
            {block};
        }
    }

    &__spinner {
        border: 0 solid currentColor;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        border-right-color: transparent;
        animation: spin $transition-duration * 5 linear infinite;

        +is-size('large') {
            border-width: 4px;
        }

        +is-size('medium') {
            border-width: 3px;
        }

        +is-size('small') {
            border-width: 2px;
        }

        +is-size('xsmall') {
            border-width: 2px;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}