.switch {
    $size = ($font-size-default * $line-height-default);
    display: block;

    is-hover() {
        .switch:hover & {
            {block};
        }
    }

    is-checked() {
        .switch--checked & {
            {block};
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__track {
        height: $size;
        max-width: $box-size-small;
        min-width: $box-size-small;
        border: 1px solid var(--color-gray-3);
        background-color: var(--color-gray-4);
        border-radius: ($size / 2);
        position: relative;

        +is-hover() {
            border-color: var(--color-gray-2);
        }

        +is-checked() {
            transition: border-color $transition-duration ease, background-color $transition-duration ease;
            border-color: var(--color-brand) !important;
            background-color: var(--color-brand);
        }
    }

    &__slider {
        height: $size - 8px;
        width: $size - 8px;
        border-radius: (($size - 8px) / 2);
        background-color: var(--color-white-force);
        position: absolute;
        left: 3px;
        top: 3px;
        box-shadow: $shadow-elevation-1;
        transition: left $transition-duration ease-out;

        +is-checked() {
            left: 'calc(100% - %s)' % ($size - 8px + 3px);
        }
    }

    &__label {
        padding-left: 12px;
    }
}