.tabs {
    position: relative;
    overflow: hidden;
    background-color: var(--color-white);

    &--size {
        &-large {
            height: $box-size-large;
        }

        &-medium {
            height: $box-size-medium;
        }

        &-small {
            height: $box-size-small;
        }
    }

    is-size($size) {
        .tabs--size-{$size} & {
            {block};
        }
    }

    &-list {
        font-size: 0;
        white-space: nowrap;
        overflow: scroll;
        overflow-y: hidden;
        display: flex;
        align-items: center;

        &::-webkit-scrollbar {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--color-gray-3);
            -webkit-transform: translateZ(0);
        }

        &-item {
            font-size: $font-size-medium;
            border-bottom: 2px solid transparent;
            height: $box-size-large;
            font-weight: $font-weight-bold;
            padding: 0 24px;
            position: relative;
            z-index: 1;
            color: var(--color-gray-1);

            +is-size('large') {
                height: $box-size-large;
            }

            +is-size('medium') {
                height: $box-size-medium;
            }

            +is-size('small') {
                font-size: $font-size-default;
                height: $box-size-small;
            }

            &:hover, &--active {
                color: var(--color-black);
            }

            &--active-track {
                border-bottom-color: var(--color-brand);
            }

            &[disabled] {
                cursor: default;
                color: var(--color-gray-2);
            }

            &__container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__prepend {
                margin-right: 14px;
            }

            &__append {
                margin-left: 14px;
            }

            &__prepend, &__append {
                color: var(--color-brand);
            }
        }
    }

    &__track {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-brand);
        display: none;
    }
}