.tag {
    display: table;
    font-size: $font-size-small;
    line-height: 1;
    padding: 4px 8px;
    border-radius: (($font-size-small + 4px * 2) / 2);
    font-weight: $font-weight-bold;

    &--color {
        &-brand {
            background-color: var(--color-brand-2);
            color: var(--color-brand);
        }

        &-danger {
            background-color: var(--color-danger-2);
            color: var(--color-danger);
        }

        &-warning {
            background-color: var(--color-warning-2);
            color: var(--color-warning);
        }

        &-success {
            background-color: var(--color-success-2);
            color: var(--color-success);
        }

        &-black {
            background-color: var(--color-gray-4);
            color: var(--color-black);
        }

        &-gray {
            background-color: var(--color-gray-4);
            color: var(--color-gray-1);
        }
    }
}