.textarea {
    $size = (($font-size-default * $line-height-default) * 6) + (12px * 2) + 2px;
    $min-size = $box-size-medium;
    position: relative;
    display: block;

    &__field {
        display: block;
        width: 100%;
        background-color: var(--color-gray-4);
        border: 1px solid var(--color-gray-3);
        padding: 12px 16px;
        set-placeholder-color(var(--color-gray-1));
        height: $size;
        min-height: $min-size;
        resize: vertical;
        border-radius: $border-radius-medium;

        &[disabled] {
            background-color: var(--color-gray-3);
            color: var(--color-gray-2);
        }

        &[readonly] {
            cursor: text;
            background-color: var(--color-gray-3);
        }

        &:not([disabled]) {
            &:hover {
                border-color: var(--color-gray-2);
            }
        }

        &:not([disabled]):not([readonly]) {
            &:focus {
                border-color: var(--color-brand);
                background-color: var(--color-white);
            }
        }

        .validation--invalid & {
            border-color: var(--color-danger) !important;
        }
    }

    &__max {
        text-align: right;
    }
}