.label {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
    color: var(--color-gray-1);
    display: flex;
    align-items: center;

    &__append {
        margin-left: 8px;

        .icon {
            color: var(--color-gray-2);
        }

        > button {
            color: var(--color-gray-2);

            &:hover, &.attach-target--active {
                color: var(--color-brand);

                .icon {
                    color: var(--color-brand);
                }
            }
        }
    }
}

.caption {
    font-size: $font-size-small;
    margin-top: 4px;
    color: var(--color-gray-1);
}

.validation-error {
    font-size: $font-size-small;
    margin-top: 4px;
    color: var(--color-danger);
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &__text {
        make-h6();
        color: var(--color-gray-1);

        > span {
            color: var(--color-black);
        }
    }

    &__append {
        margin-left: 12px;
        font-size: $font-size-small;
    }
}