.tooltip {
    z-index: 50;
    cursor: default;
    padding: 8px 0;

    is-has-title() {
        .tooltip--has-title & {
            {block};
        }
    }

    &__container {
        box-shadow: $shadow-elevation-2;
        make-box();
        padding: 8px 12px;
        max-width: 220px;
    }

    &__title {
        color: var(--color-black);
        font-weight: $font-weight-bold;
        margin-bottom: 2px;
    }

    &__text {
        +is-has-title() {
            color: var(--color-gray-1);
        }
    }

    &-tr {
        &-enter-active {
            transition: opacity $transition-duration ease;
        }

        &-enter, &-leave-to {
            opacity: 0;
        }
    }
}