<template>
    <div class="dropdown-item">
        <app-button :size="size"
                    color="black"
                    variant="tertiary"
                    extra="icon-color-default"
                    v-on="$listeners"
                    v-bind="$attrs">
            <template #prepend
                      v-if="$slots.prepend || $scopedSlots.prepend">
                <slot name="prepend"></slot>
            </template>
            <div class="dropdown-item__text">
                <slot></slot>
            </div>
            <template #append
                      v-if="$slots.append || $scopedSlots.append">
                <slot name="append"></slot>
            </template>
        </app-button>
    </div>
</template>

<script>
import AppButton from '@/core/components/AppButton.vue';

export default {
    props: {
        size: {
            default: 'small'
        }
    },
    components: {
        AppButton
    }
};
</script>
