<template>
    <div class="faq">
        <app-card>
            <template #title>
                FAQ
            </template>
            <faq-item title="title">
                asdasd
            </faq-item>
            <faq-item title="title">
                asdasd
            </faq-item>
            <faq-item title="title">
                asdasd
            </faq-item>
            <faq-item title="title">
                asdasd
            </faq-item>
        </app-card>
    </div>
</template>

<script>
import AppCard from '@/core/components/AppCard.vue';
import FaqItem from '@/components/FaqItem.vue';

export default {
    components: {
        AppCard,
        FaqItem
    },
    props: {
        title: {
            type: String
        }
    }
};
</script>