<template>
    <div class="home">
        <app-card v-if="result">
            <template #title>
                Аудит проверки
            </template>
            <template #append>
                <app-button color="brand"
                            variant="secondary"
                            @click="clear">
                    Загрузить новое
                </app-button>
            </template>
            <app-read-image :file="file"
                            class="home__image"></app-read-image>
            <div class="home__title-image">
                Оригинал
            </div>
            <div class="home__icon-image">
                <app-icon name="arrow-down"></app-icon>
            </div>
            <div class="home__title-image home__title-image--success">
                Обработанная версия
            </div>
            <img :src="`data:image/png;base64,${result.correction}`"
                 class="home__image">
            <!--
            <div class="home__download">
                <app-button>Сохранить на устройство</app-button>
            </div>
            -->
            <div class="home__info-list"
                 v-if="result.errors">
                <div class="home-info home-info--danger">
                    <div class="home-info-item">
                        <div class="home-info-item__icon">
                            <app-icon name="danger"></app-icon>
                        </div>
                        <div class="home-info-item-text">
                            <div class="home-info-item-text__title">
                                В кадре обнаружен человек
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <faq-item title="Прошедшие аудит: 1">
                    <div class="home-info home-info--success">
                        <div class="home-info-item">
                            <div class="home-info-item__icon">
                                <app-icon name="success"></app-icon>
                            </div>
                            <div class="home-info-item-text">
                                <div class="home-info-item-text__title">
                                    Lorem ipsum dolor
                                </div>
                                <div class="home-info-item-text__comment">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis distinctio saepe tenetur minus suscipit pariatur sapiente commodi.
                                </div>
                            </div>
                        </div>
                    </div>
                </faq-item>
                -->
            </div>
        </app-card>
        <app-card v-else>
            <template #title>
                Проверить фотографию
            </template>
            <template #append>
                <app-link :to="{ name: 'help' }">Помощь</app-link>
            </template>
            <app-photo-file v-model="file"></app-photo-file>
            <div class="home__submit">
                <app-button :filled="true"
                            :disabled="!file"
                            @click="submit">
                    Загрузить
                </app-button>
            </div>
        </app-card>
    </div>
</template>

<script>
import AppCard from '@/core/components/AppCard.vue';
import AppPhotoFile from '@/core/components/AppPhotoFile.vue';
import AppButton from '@/core/components/AppButton.vue';
import AppReadImage from '@/core/components/AppReadImage.vue';
import AppIcon from '@/core/components/AppIcon.vue';
import FaqItem from '@/components/FaqItem.vue';
import AppLink from '@/core/components/AppLink.vue';

import axios from 'axios';
import { mapActions } from 'vuex';

export default {
    components: {
        AppCard,
        AppPhotoFile,
        AppButton,
        AppReadImage,
        AppIcon,
        FaqItem,
        AppLink
    },
    data() {
        return {
            result: null,
            file: null
        };
    },
    methods: {
        ...mapActions({
            showPageLoading: 'core/pageLoading/show',
            hidePageLoading: 'core/pageLoading/hide'
        }),
        submit() {
            const data = new FormData();
            data.append('file', this.file);

            this.showPageLoading();
            axios({
                method: 'POST',
                url: 'http://192.168.43.8:5000/evaluation',
                data,
                config: { headers: { 'Content-Type': 'multipart/form-data' } }
            })
                .then((response) => {
                    this.result = response.data;
                    this.hidePageLoading();
                })
                .catch(function(response) {
                    console.log(response);
                    this.hidePageLoading();
                });
        },
        clear() {
            this.result = null;
            this.file = null;
        }
    }
};
</script>




