make-h1($indents = false) {
    font-size: $font-size-xxlarge;
    font-weight: $font-weight-bold;
    line-height: unit((56 / $font-size-xxlarge), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 48px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

make-h2($indents = false) {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    line-height: unit((42 / $font-size-xlarge), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 40px;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

make-h3($indents = false) {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: unit((32 / $font-size-large), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 32px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}

make-h4($indents = false) {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    line-height: unit((24 / $font-size-medium), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 32px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}

make-h5($indents = false) {
    font-weight: $font-weight-bold;

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

make-h6($indents = false) {
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    make-spacing-text();

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

make-spacing-text() {
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

make-link() {
    display: inline;
    color: var(--color-brand);
    font-weight: $font-weight-bold;
    cursor: pointer;

    &:hover {
        color: var(--color-brand-hover);
        text-decoration: underline;

        button& {
            text-decoration: none;
        }
    }
}

make-no-touch() {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
}

make-no-select() {
    user-select: none;
}

set-placeholder-color($color) {
    &::placeholder {
        color: $color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color;
    }

    &::-ms-input-placeholder {
        color: $color;
    }
}

breakpoint($name) {
    if ($name == 'large') {
        @media (min-width: $boundary-large) {
            {block};
        }
    } else if ($name == 'medium') {
        @media (min-width: $boundary-medium) and (max-width: $boundary-large - 1px) {
            {block};
        }
    } else if ($name == 'small') {
        @media (max-width: $boundary-medium - 1px) {
            {block};
        }
    } else if ($name == 'large-to-medium') {
        @media (min-width: $boundary-medium) {
            {block};
        }
    } else if ($name == 'large-to-small') {
        @media (min-width: $boundary-small) and (max-width: $boundary-large - 1px) {
            {block};
        }
    } else if ($name == 'medium-to-small') {
        @media (max-width: $boundary-large - 1px) {
            {block};
        }
    }
}

make-box() {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-3);
    border-radius: $border-radius-medium;
}