<template>
    <div id="app">
        <component :is="layoutComponent"
                   v-show="appInitialized">
            <router-view></router-view>
        </component>
        <the-notifications></the-notifications>
        <the-page-loading></the-page-loading>
    </div>
</template>

<script>
import Default from '@/layouts/default';

import TheNotifications from '@/core/components/TheNotifications.vue';
import ThePageLoading from '@/core/components/ThePageLoading.vue';

import { mapGetters } from 'vuex';
import { eachRouteMeta } from '@/core/modules/router';

export default {
    components: {
        Default,
        TheNotifications,
        ThePageLoading
    },
    computed: {
        ...mapGetters({
            appInitialized: 'app/initialized'
        }),
        layoutComponent() {
            let layout = 'default';

            eachRouteMeta(this.$route, (meta) => {
                if (meta.layout) {
                    layout = meta.layout;
                }
            });

            return layout;
        }
    }
};
</script>

<style lang="stylus">
@import '~@/stylesheets/app';
</style>

