<template>
    <div class="faq-item">
        <button type="button"
                class="faq-item-head"
                :id="`faq-item-${id}`">
            <div class="faq-item-head__title">
                {{ title }}
            </div>
            <div class="faq-item-head__icon">
                <app-icon name="arrow-down"></app-icon>
            </div>
        </button>
        <app-collapse :target="`faq-item-${id}`"
                      class="faq-item__content"
                      :value="value">
            <slot></slot>
        </app-collapse>
    </div>
</template>

<script>
import AppCollapse from '@/core/components/AppCollapse.vue';
import AppIcon from '@/core/components/AppIcon.vue';

import { uniqueId } from '@/core/modules';

export default {
    components: {
        AppCollapse,
        AppIcon
    },
    props: {
        value: {},
        title: {
            type: String
        }
    },
    data() {
        return {
            id: uniqueId()
        };
    }
};
</script>