<template>
    <div class="header">
        <div class="header__main">
            <app-container class="header__container">
                <div class="header__logo">
                    metafloor
                </div>
                <button type="button"
                        class="header__menu"
                        id="header-menu">
                    <app-icon name="burger"></app-icon>
                </button>
                <app-dropdown target="header-menu"
                              corner="right"
                              trigger="click">
                    <template v-slot:default="{ hide }">
                        <app-dropdown-item :to="{ name: 'home' }"
                                           :active="$route.name === 'home'"
                                           @click.native="hide">
                            Проверить фотографию
                        </app-dropdown-item>
                        <app-dropdown-item :to="{ name: 'faq' }"
                                           :active="$route.name === 'faq'"
                                           @click.native="hide">
                            FAQ
                        </app-dropdown-item>
                    </template>
                </app-dropdown>
            </app-container>
        </div>
    </div>
</template>

<script>
import AppContainer from '@/core/components/AppContainer.vue';
import AppIcon from '@/core/components/AppIcon.vue';
import AppDropdown from '@/core/components/AppDropdown.vue';
import AppDropdownItem from '@/core/components/AppDropdown/AppDropdownItem.vue';

export default {
    components: {
        AppContainer,
        AppIcon,
        AppDropdown,
        AppDropdownItem
    }
};
</script>