html, body, textarea, code, input, select {
    color: var(--color-black);
    font-family: $font-family-default;
    font-size: $font-size-default;
    font-weight: $font-weight-default;
}

html, body, textarea, code {
    line-height: $line-height-default;
}