* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow: auto;
    overflow-x: hidden;
    cursor: default;
}

article, aside, footer, header, nav, section, figcaption, figure, main, select {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-weight: inherit;
    font-size: inherit;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

[type=submit], [type=reset], [type=button], button {
    width: auto;
    background: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    display: block;
    cursor: pointer;
    text-align: left;
}

[role=button] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
}

// input
input, textarea {
    display: block;
    background-color: transparent;

    &[readonly] {
        cursor: default;
    }
}

[type=number] {
    -moz-appearance: textfield;
}

[type=range] {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    color: transparent;
    overflow: visible;

    &::-ms-track {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        margin: 0;
        padding: 0;
        border: 0 none;
        background: transparent;
        color: transparent;
        overflow: visible;
    }

    &::-moz-range-track {
        width: 100%;
        height: 100%;
        -moz-appearance: none;
        margin: 0;
        padding: 0;
        border: 0 none;
        background: transparent;
        color: transparent;
        overflow: visible;
    }

    &:focus::-webkit-slider-runnable-track {
        background: transparent;
        border: transparent;
    }

    &::-ms-thumb {
        border: 0 none;
        background: transparent;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        border: 0 none;
        background: transparent;
        cursor: pointer;
    }

    &::-webkit-slider-thumb {
        border: 0 none;
        background: transparent;
        -webkit-appearance: none;
    }

    &::-ms-fill-lower, &::-ms-fill-upper {
        background: transparent;
        border: 0 none;
    }

    &::-ms-tooltip {
        display: none;
    }
}

::-webkit-search-decoration {
    display: none;
}

::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::-ms-clear {
    display: none;
}

select {
    background-color: transparent;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    color: inherit;
    background: transparent;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea {
    vertical-align: top;
    resize: none;
    overflow: auto;
    height: auto;
}

mark {
    background: transparent;
    color: inherit;
}

address {
    font-style: inherit;
}

table {
    border-spacing: 0;
    text-align: left;

    th {
        font-weight: inherit;
    }
}