:root.theme--dark {
    // 
    --color-black: #EBEAEF;
    --color-white: #1C1C27;
    --color-white-force: #EBEAEF;
    // 
    --color-brand: #3D7BFA;
    --color-brand-hover: #6898FF;
    --color-brand-2: #222B48;
    --color-brand-2-hover: #24335A;
    // 
    --color-danger: #FF5C5C;
    --color-danger-hover: #FF8080;
    --color-danger-2: #41272F;
    --color-danger-2-hover: #532C34;
    // 
    --color-warning: #FDAC41;
    --color-warning-hover: #FCCC77;
    --color-warning-2: #40332D;
    --color-warning-2-hover: #523E30;
    // 
    --color-success: #05C270;
    --color-success-hover: #39DA8A;
    --color-success-2: #213633;
    --color-success-2-hover: #224439;
    // 
    --color-gray-1: #9090A7;
    --color-gray-2: #5e5e73;
    --color-gray-3: #3a3b52;
    --color-gray-4: #28293C;
    // 
    --color-tor: #AC5CD9;
}
