:root {
    // 
    --color-black: #0D1F44;
    --color-white: #FFFFFF;
    --color-white-force: #FFFFFF;
    // 
    --color-brand: #685795;
    --color-brand-hover: #685795;
    --color-brand-2: #E8E5EF;
    --color-brand-2-hover: #E8E5EF;
    // 
    --color-danger: #EF3C37;
    --color-danger-hover: #F15F5B;
    --color-danger-2: #FFE6E5;
    --color-danger-2-hover: #FFDAD8;
    // 
    --color-warning: #FFAA5B;
    --color-warning-hover: #FFB978;
    --color-warning-2: #FFF2E6;
    --color-warning-2-hover: #FFEAD9;
    // 
    --color-success: #38B54A;
    --color-success-hover: #5CC26A;
    --color-success-2: #E0F1E6;
    --color-success-2-hover: #D0EADA;
    // 
    --color-gray-1: #778493;
    --color-gray-2: #C8CDD5;
    --color-gray-3: #E3E8EC;
    --color-gray-4: #F1F5F9;
    // 
    --color-tor: #7E4798;
}