<template>
    <transition :name='transition'
                appear>
        <div class="attach"
             v-attach="{ target: target$, direction, corner, responsive }"
             v-if="target$ && isShow"
             v-click-outside="onClickOutside"
             @mousedown="onMouseDown"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave">
            <slot :hide="hide"></slot>
        </div>
    </transition>
</template>

<script>
import clickOutside from 'v-click-outside';
import attach from '@/core/directives/attach';
import { findParentByElement } from '@/core/modules';

export default {
    directives: {
        attach,
        clickOutside: clickOutside.directive
    },
    props: {
        target: {
            type: String,
            required: true
        },
        triggerTarget: {
            type: String
        },
        direction: {
            type: String,
            validator: (value) => ['top', 'right', 'bottom', 'left'].includes(value),
            default: 'bottom'
        },
        corner: {
            type: String,
            validator: (value) => ['top', 'right', 'bottom', 'left', 'center'].includes(value),
            default: 'center'
        },
        delayIn: {
            type: Number,
            default: 0
        },
        delayOut: {
            type: Number,
            default: 0
        },
        trigger: {
            type: String,
            validator: (value) => ['hover', 'focus', 'click', 'custom'].includes(value),
            default: 'custom'
        },
        transition: {
            type: String,
            default: ''
        },
        responsive: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            target$: null,
            triggerTarget$: null,
            delayInTimeout$: null,
            delayOutTimeout$: null,
            isShow: false,
            mouseDowned: false
        };
    },
    methods: {
        findTarget() {
            this.target$ = document.getElementById(this.target);
            this.triggerTarget$ = document.getElementById(this.triggerTarget || this.target);
        },
        show() {
            this.isShow = true;
            this.addActiveClass();
            this.$emit('show');
        },

        hide() {
            this.isShow = false;
            this.removeActiveClass();
            this.$emit('hide');
        },
        onClick() {
            if (this.trigger !== 'click') {
                return;
            }

            if (!this.isShow) {
                this.show();
            } else {
                this.hide();
            }
        },
        onClickOutside(e) {
            if (this.trigger !== 'click' && this.trigger !== 'focus' && this.trigger !== 'hover') {
                return;
            }

            if (this.isShow) {
                if (
                    findParentByElement(e.target, this.triggerTarget$ || this.target$) !==
                    (this.triggerTarget$ || this.target$)
                ) {
                    this.hide();
                }
            }
        },
        clearDelayInTimeout() {
            if (this.delayInTimeout$) {
                clearTimeout(this.delayInTimeout$);
            }
        },
        clearDelayOutTimeout() {
            if (this.delayOutTimeout$) {
                clearTimeout(this.delayOutTimeout$);
            }
        },
        onMouseEnter(e) {
            if (this.trigger !== 'hover') {
                return;
            }

            this.clearDelayOutTimeout();
            if (!this.isShow) {
                this.delayInTimeout$ = setTimeout(() => {
                    this.show();
                }, this.delayIn);
            }
        },
        addActiveClass() {
            this.target$.classList.add('attach-target--active');
            if (this.triggerTarget$) {
                this.triggerTarget$.classList.add('attach-target--active');
            }
        },
        removeActiveClass() {
            this.target$.classList.remove('attach-target--active');
            if (this.triggerTarget$) {
                this.triggerTarget$.classList.remove('attach-target--active');
            }
        },
        onMouseLeave(e) {
            if (this.trigger !== 'hover') {
                return;
            }

            if (e.relatedTarget === this.$el || e.relatedTarget === this.target$) {
                return;
            }

            this.clearDelayInTimeout();
            if (this.isShow) {
                this.delayOutTimeout$ = setTimeout(() => {
                    this.hide();
                }, this.delayOut);
            }
        },
        onFocus() {
            if (this.trigger !== 'focus') {
                return;
            }

            this.show();
        },
        onBlur() {
            if (this.trigger !== 'focus' || this.mouseDowned) {
                this.mouseDowned = false;
                return;
            }

            this.hide();
        },
        onMouseDown() {
            this.mouseDowned = true;
        },
        bindEvents() {
            this.triggerTarget$.addEventListener('click', this.onClick);
            this.triggerTarget$.addEventListener('mouseenter', this.onMouseEnter);
            this.triggerTarget$.addEventListener('mouseleave', this.onMouseLeave);
            this.triggerTarget$.addEventListener('focus', this.onFocus);
            this.triggerTarget$.addEventListener('blur', this.onBlur);
        },
        unbindEvents() {
            this.triggerTarget$.removeEventListener('click', this.onClick);
            this.triggerTarget$.removeEventListener('mouseenter', this.onMouseEnter);
            this.triggerTarget$.removeEventListener('mouseleave', this.onMouseLeave);
            this.triggerTarget$.removeEventListener('focus', this.onFocus);
            this.triggerTarget$.removeEventListener('blur', this.onBlur);
        }
    },
    mounted() {
        this.findTarget();
        if (this.trigger !== 'custom') {
            this.bindEvents();
        } else {
            this.show();
        }
    },
    beforeDestroy() {
        if (this.trigger !== 'custom') {
            this.unbindEvents();
        } else {
            this.hide();
        }
    }
};
</script>