<template>
    <div class="badge"
         :class="computedClass">
        {{ computedValue }}
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Number,
            default: 0
        },
        color: {
            type: String,
            default: 'brand',
            validator: (value) => ['brand', 'danger', 'warning', 'success', 'black', 'gray']
        }
    },
    computed: {
        computedValue() {
            if (this.value > 9) {
                return `9+`;
            } else {
                return this.value;
            }
        },
        computedClass() {
            const color = `badge--color-${this.color}`;
            return [color];
        }
    }
};
</script>