<template>
    <component :is="currentTag"
               class="button"
               :class="computedClass"
               :type="currentType"
               :disabled="isDisabled"
               v-on="$listeners"
               :to="to"
               :href="href">
        <div class="button__container">
            <div class="button__prepend"
                 v-if="$slots.prepend || $scopedSlots.prepend">
                <slot name="prepend"></slot>
            </div>
            <slot></slot>
            <div class="button__append"
                 v-if="$slots.append || $scopedSlots.append">
                <slot name="append"></slot>
            </div>
        </div>
        <div class="button__loading"
             v-if="loading">
            loading
        </div>
    </component>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: 'button',
            validator: (value) => ['button', 'submit', 'reset'].includes(value)
        },
        size: {
            type: String,
            default: 'small',
            validator: (value) => ['large', 'medium', 'small', 'xsmall'].includes(value)
        },
        variant: {
            type: String,
            default: 'primary',
            validator: (value) => ['primary', 'secondary', 'tertiary'].includes(value)
        },
        color: {
            type: String,
            default: 'brand',
            validator: (value) => ['brand', 'danger', 'warning', 'success', 'black', 'gray']
        },
        extra: {
            type: String,
            default: '',
            validator: (value) => ['icon-color-default', ''].includes(value)
        },
        squared: {
            type: Boolean,
            default: false
        },
        active: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        },
        to: {
            type: [String, Object]
        },
        href: {
            type: String
        },
        filled: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClass() {
            const size = `button--size-${this.size}`;
            const variant = `button--variant-${this.variant}`;
            const color = `button--color-${this.color}`;
            const squared = this.squared ? `button--squared` : '';
            const active = this.active ? `button--active` : '';
            const disabled = this.isDisabled ? `button--disabled` : '';
            const loading = this.loading ? `button--loading` : '';
            const extra = `button--extra-${this.extra}`;
            const filled = this.filled ? `button--filled` : '';

            return [size, variant, color, squared, active, disabled, loading, extra, filled];
        },
        isDisabled() {
            return this.disabled || this.loading;
        },
        currentTag() {
            if (this.to) {
                return 'router-link';
            } else if (this.href) {
                return 'a';
            } else {
                return 'button';
            }
        },
        currentType() {
            if (this.currentTag === 'button') {
                return this.type;
            } else {
                return '';
            }
        }
    }
};
</script>
