<template>
    <transition name="collapse-tr">
        <div class="collapse"
             v-show="isShow">
            <slot></slot>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        value: {
            type: Boolean,
            default: false
        },
        target: {
            type: String
        }
    },
    data() {
        return {
            isShow: false,
            target$: null
        };
    },
    watch: {
        value: {
            handler(value) {
                this.isShow = value;
            },
            immediate: true
        },
        isShow: {
            handler(value) {
                this.$emit('input', value);
                this.checkActiveClass();
            }
        }
    },
    methods: {
        findTarget() {
            this.target$ = document.getElementById(this.target);
        },
        addActiveClass() {
            if (this.target$) {
                this.target$.classList.add('collapse-target--active');
            }
        },
        removeActiveClass() {
            if (this.target$) {
                this.target$.classList.remove('collapse-target--active');
            }
        },
        checkActiveClass() {
            if (this.target$) {
                if (this.isShow) {
                    this.addActiveClass();
                } else {
                    this.removeActiveClass();
                }
            }
        },
        show() {
            this.isShow = true;
        },
        hide() {
            this.isHide = false;
        },
        toggle() {
            if (this.isShow) {
                this.isShow = false;
            } else {
                this.isShow = true;
            }
        },
        onClick() {
            this.toggle();
        },
        bindEvents() {
            if (this.target$) {
                this.target$.addEventListener('click', this.onClick);
            }
        },
        unbindEvents() {
            if (this.target$) {
                this.target$.removeEventListener('click', this.onClick);
            }
        }
    },
    mounted() {
        this.findTarget();
        this.bindEvents();
        this.checkActiveClass();
    },
    beforeDestroy() {
        this.unbindEvents();
    }
};
</script>