<template>
    <div class="card">
        <div class="card-head"
             v-if="($slots.title || $scopedSlots.title) || ($slots.append || $scopedSlots.append)">
            <div class="card-head__title"
                 v-if="$slots.title || $scopedSlots.title">
                <slot name="title"></slot>
            </div>
            <div class="card-head__append"
                 v-if="$slots.append || $scopedSlots.append">
                <slot name="append"></slot>
            </div>
        </div>
        <div class="card__body">
            <slot></slot>
        </div>
    </div>
</template>