<template>
    <app-attach class="dropdown"
                :class="computedClass"
                :target="target"
                :trigger-target="triggerTarget"
                :direction="direction"
                :corner="corner"
                :delay-in="delayIn"
                :delay-out="delayOut"
                :trigger="trigger"
                :transition="transition"
                :responsive="responsive"
                ref="attach"
                @show="onShow"
                @hide="onHide">
        <div class="dropdown__container">
            <slot :hide="hide"></slot>
        </div>
    </app-attach>
</template>

<script>
import AppAttach from '@/core/components/AppAttach.vue';

import ResizeObserver from 'resize-observer-polyfill';

export default {
    components: {
        AppAttach
    },
    props: {
        target: {},
        triggerTarget: {},
        direction: {
            default: 'bottom',
            validator: (value) => ['top', 'bottom'].includes(value)
        },
        corner: {
            default: 'left'
        },
        delayIn: {
            default: 100
        },
        delayOut: {
            default: 400
        },
        trigger: {},
        transition: {
            default: 'dropdown-tr'
        },
        size: {
            type: String,
            default: 'custom',
            validator: (value) => ['large', 'medium', 'small', 'fill', 'custom'].includes(value)
        },
        responsive: {}
    },
    data() {
        return {
            ro$: null
        };
    },
    computed: {
        computedClass() {
            const size = `dropdown--size-${this.size}`;

            return [size];
        }
    },
    methods: {
        hide() {
            const $attach = this.$refs.attach;
            $attach.hide();
        },
        fillWidth() {
            const $attach = this.$refs.attach;
            if ($attach.$el.style) {
                const $target = document.getElementById(this.target);
                const { width: targetWidth } = $target.getBoundingClientRect();

                $attach.$el.style.minWidth = `${targetWidth}px`;
            }
        },
        initFillWidth() {
            if (this.size === 'fill') {
                const $target = document.getElementById(this.target);
                this.ro$ = new ResizeObserver(() => {
                    this.fillWidth();
                });
                this.ro$.observe($target);

                this.fillWidth();
            }
        },
        destroyFillWidth() {
            if (this.size === 'fill') {
                this.ro$.disconnect();
            }
        },
        onShow() {
            this.initFillWidth();
            this.$emit('show');
        },
        onHide() {
            this.destroyFillWidth();
            this.$emit('hide');
        }
    }
};
</script>
