<template>
    <div class="icon flag"
         v-html="flagAsHTML"></div>
</template>

<script>
import ru from '!!raw-loader!@/assets/icons/flags/ru.svg';
import en from '!!raw-loader!@/assets/icons/flags/en.svg';

export default {
    props: {
        name: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            flags: {
                ru,
                en
            }
        };
    },
    computed: {
        flagAsHTML() {
            const flag = this.flags[this.name];
            return flag;
        }
    }
};
</script>