<template>
    <label class="input-box"
           :class="computedClass">
        <input :type="type"
               class="input-box__field"
               v-model="localValue"
               :value="defaultValue"
               :disabled="disabled"
               v-bind="$attrs">
        <div class="input-box__container">
            <div class="input-box__box">
                <div class="input-box__box-icon">
                    <app-icon name="checked"
                              v-if="isCheckbox"></app-icon>
                </div>
            </div>
            <div class="input-box__label"
                 v-if="$slots.default || $scopedSlots.default">
                <slot></slot>
            </div>
        </div>
    </label>
</template>

<script>
import AppIcon from '@/core/components/AppIcon.vue';

export default {
    inheritAttrs: false,
    components: {
        AppIcon
    },
    props: {
        type: {
            type: String,
            default: 'checkbox',
            validator: (value) => ['checkbox', 'radio'].includes(value)
        },
        value: {
            type: [Boolean, String]
        },
        disabled: {
            type: Boolean,
            default: false
        },
        defaultValue: {
            type: String
        }
    },
    data() {
        return {
            localValue: ''
        };
    },
    watch: {
        localValue(value) {
            this.$emit('input', value);
        },
        value: {
            handler(value) {
                this.localValue = value;
            },
            immediate: true
        }
    },
    computed: {
        computedClass() {
            const type = `input-box--type-${this.type}`;
            const disabled = this.disabled ? 'input-box--disabled' : '';

            return [type, disabled];
        },
        isCheckbox() {
            const isCheckbox = this.type === 'checkbox';
            return isCheckbox;
        },
        isRadio() {
            const isRadio = this.type === 'radio';
            return isRadio;
        }
    }
};
</script>