<template>
    <div class="input-date">
        <date-range-picker v-model="dateModel"
                           :single-date-picker="!range"
                           :time-picker="false"
                           :ranges="false"
                           :auto-apply="true"
                           :opens="corner"
                           :locale-data="localeDate">
            <template #input>
                <app-input :readonly-silence="true"
                           v-on="$listeners"
                           v-bind="$attrs"
                           type="text"
                           :value="valueAsText">
                    <template #append>
                        <app-icon name="dropdown"></app-icon>
                    </template>
                </app-input>
            </template>
        </date-range-picker>
    </div>
</template>

<script>
import DateRangePicker from 'vue2-daterange-picker';
import AppInput from '@/core/components/AppInput.vue';
import AppIcon from '@/core/components/AppIcon.vue';

import { parseDate } from '@/core/modules';
import moment from 'moment';
import { DATE_PARSED_FORMAT } from '@/consts';

export default {
    inheritAttrs: false,
    components: {
        DateRangePicker,
        AppInput,
        AppIcon
    },
    props: {
        value: {
            type: [String, Array, Date],
            default: ''
        },
        range: {
            type: Boolean,
            default: false
        },
        corner: {
            type: String,
            validator: (value) => ['right', 'left', 'center'].includes(value),
            default: 'left'
        }
    },
    data() {
        return {
            dateModel: {}
        };
    },
    computed: {
        valueAsText() {
            if (this.dateModel.startDate) {
                let text = '';
                if (this.range) {
                    text = `${parseDate(this.dateModel.startDate, false)} - ${parseDate(
                        this.dateModel.endDate,
                        false
                    )}`;
                } else {
                    text = parseDate(this.dateModel.startDate, false);
                }

                return text;
            } else {
                return '';
            }
        },
        localeDate() {
            return {
                daysOfWeek: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
                monthNames: [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Октябрь',
                    'Ноябрь',
                    'Декабрь'
                ],
                format: moment().format(DATE_PARSED_FORMAT)
            };
        }
    },
    watch: {
        dateModel: {
            handler({ startDate, endDate }) {
                if (this.range) {
                    this.$emit('input', [startDate, endDate]);
                } else {
                    this.$emit('input', startDate);
                }
            },
            deep: true
        },
        value: {
            handler(value) {
                if (this.range) {
                    if (value instanceof Array) {
                        this.dateModel.startDate = value[0];
                        this.dateModel.endDate = value[1];
                    }
                } else {
                    this.dateModel.startDate = value;
                    this.dateModel.endDate = value;
                }
            },
            deep: true,
            immediate: true
        }
    }
};
</script>