<template>
    <div class="icon"
         v-html="iconAsHTML"></div>
</template>

<script>
import dropdown from '!!raw-loader!@/assets/icons/dropdown.svg';
import search from '!!raw-loader!@/assets/icons/search.svg';
import checked from '!!raw-loader!@/assets/icons/checked.svg';
import close from '!!raw-loader!@/assets/icons/close.svg';
import danger from '!!raw-loader!@/assets/icons/danger.svg';
import warning from '!!raw-loader!@/assets/icons/warning.svg';
import success from '!!raw-loader!@/assets/icons/success.svg';
import eye from '!!raw-loader!@/assets/icons/eye.svg';
import eyeFilled from '!!raw-loader!@/assets/icons/eye-filled.svg';
import refresh from '!!raw-loader!@/assets/icons/refresh.svg';
import info from '!!raw-loader!@/assets/icons/info.svg';
import copy from '!!raw-loader!@/assets/icons/copy.svg';
import action from '!!raw-loader!@/assets/icons/action.svg';
import arrowLeft from '!!raw-loader!@/assets/icons/arrow-left.svg';
import arrowRight from '!!raw-loader!@/assets/icons/arrow-right.svg';
import arrowDown from '!!raw-loader!@/assets/icons/arrow-down.svg';
import arrowUp from '!!raw-loader!@/assets/icons/arrow-up.svg';
import paperPlane from '!!raw-loader!@/assets/icons/paper-plane.svg';
import attach from '!!raw-loader!@/assets/icons/attach.svg';
import burger from '!!raw-loader!@/assets/icons/burger.svg';

export default {
    props: {
        name: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            icons: {
                dropdown,
                search,
                checked,
                close,
                danger,
                warning,
                success,
                info,
                eye,
                'eye-filled': eyeFilled,
                refresh,
                copy,
                action,
                'arrow-left': arrowLeft,
                'arrow-right': arrowRight,
                'arrow-down': arrowDown,
                'arrow-up': arrowUp,
                'paper-plane': paperPlane,
                attach,
                burger
            }
        };
    },
    computed: {
        iconAsHTML() {
            const icon = this.icons[this.name];
            return icon;
        }
    }
};
</script>
