<template>
    <div class="input__wrapper">
        <label class="input"
               :class="computedClass">
            <div class="input__prepend"
                 v-if="$slots.prepend || $scopedSlots.prepend">
                <slot name="prepend"></slot>
            </div>
            <input class="input__field"
                   :type="computedType"
                   @input="onInput"
                   @focus="onFocus"
                   @blur="onBlur"
                   v-on="computedListeners"
                   v-bind="$attrs"
                   ref="input"
                   :readonly="readonly || readonlySilence"
                   :disabled="disabled">
            <div class="input__append"
                 v-if="$slots.append || $scopedSlots.append">
                <slot name="append"></slot>
            </div>
        </label>
    </div>
</template>

<script>
import { getExcludedObjectByProps } from '@/core/modules';

export default {
    inheritAttrs: false,
    props: {
        value: {
            default: ''
        },
        type: {
            type: String,
            default: 'text'
        },
        disabled: {
            type: Boolean,
            default: false
        },
        readonly: {
            type: Boolean,
            default: false
        },
        readonlySilence: {
            type: Boolean,
            default: false
        },
        modifiers: {
            type: Array
        },
        size: {
            type: String,
            default: 'small',
            validator: (value) => ['large', 'medium', 'small'].includes(value)
        },
        variant: {
            type: String,
            default: 'primary',
            validator: (value) => ['primary', 'secondary']
        }
    },
    data() {
        return {
            focused: false
        };
    },
    computed: {
        computedListeners() {
            return getExcludedObjectByProps(this.$listeners, ['input', 'focus', 'blur']);
        },
        computedType() {
            if (this.type === 'number') {
                return 'text';
            }

            return this.type;
        },
        computedClass() {
            const disabled = this.disabled ? 'input--disabled' : '';
            const readonly = this.readonly || this.readonlySilence ? 'input--readonly' : '';
            const readonlySilence = this.readonlySilence ? 'input--readonly-silence' : '';
            const focused = this.focused ? 'input--focused' : '';
            const size = `input--size-${this.size}`;
            const variant = `input--variant-${this.variant}`;
            return [disabled, readonly, readonlySilence, focused, size, variant];
        }
    },
    watch: {
        value(value) {
            this.setInputValue(value);
        }
    },
    methods: {
        onInput(e) {
            let inputValue = e.target.value;

            if (this.modifiers) {
                if (this.modifiers.includes('capitalize')) {
                    inputValue = inputValue.charAt(0).toUpperCase() + inputValue.slice(1);
                }
            }

            if (this.type === 'email') {
                inputValue = inputValue.toLowerCase();
                this.setInputValue(inputValue);
            }

            if (this.type === 'tel') {
                inputValue = inputValue.replace(/([^\+\(\)\s\d.-])/g, '');
                this.setInputValue(inputValue);
            }

            this.$emit('input', inputValue);
        },
        setInputValue(value) {
            const $input = this.$refs['input'];
            $input.value = value;
        },
        onFocus(e) {
            this.focused = true;
            this.$emit('focus', e);
        },
        onBlur(e) {
            this.focused = false;
            this.$emit('blur', e);
        }
    },
    mounted() {
        this.setInputValue(this.value);
    }
};
</script>