<template>
    <div class="label">
        <slot></slot>
        <div class="label__append"
             v-if="$slots.append || $scopedSlots.append">
            <slot name="append"></slot>
        </div>
    </div>
</template>