<template>
    <router-link class="link"
                 :to="to"
                 v-if="to">
        <slot></slot>
    </router-link>
    <a class="link"
       :href="href"
       v-else-if="href">
        <slot></slot>
    </a>
    <button type="button"
            class="link"
            v-else>
        <slot></slot>
    </button>
</template>

<script>
export default {
    props: {
        href: {
            type: String
        },
        to: {
            type: [String, Object]
        }
    }
};
</script>