<template>
    <div class="modal"
         v-if="isShow">
        <transition name="modal__backdoor-tr"
                    appear>
            <div class="modal__backdoor"></div>
        </transition>
        <div class="modal__scroll"
             ref="scroll">
            <app-container class="modal__container">
                <transition name="modal__content-tr"
                            appear>
                    <div class="modal__content"
                         v-click-outside="hide">
                        <button type="button"
                                class="modal__close"
                                @click="hide">
                            <app-icon name="close"></app-icon>
                        </button>
                        <div class="modal__title"
                             v-if="$slots.title || $scopedSlots.title">
                            <slot name="title"></slot>
                        </div>
                        <div>
                            <slot></slot>
                        </div>
                        <div class="modal__button"
                             v-if="$slots.button || $scopedSlots.button">
                            <slot name="button"
                                  :hide="hide"></slot>
                        </div>
                    </div>
                </transition>
            </app-container>
        </div>
    </div>
</template>

<script>
import AppContainer from '@/core/components/AppContainer.vue';
import AppIcon from '@/core/components/AppIcon.vue';

import { disablePageScroll, enablePageScroll } from 'scroll-lock';
import clickOutside from 'v-click-outside';

export default {
    components: {
        AppContainer,
        AppIcon
    },
    directives: {
        clickOutside: clickOutside.directive
    },
    props: {
        value: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            isShow: false
        };
    },
    watch: {
        value: {
            handler(value) {
                if (value) {
                    this.show();
                } else {
                    this.hide();
                }
            },
            immediate: true
        }
    },
    methods: {
        show() {
            if (!this.isShow) {
                this.isShow = true;
                this.$emit('show');
                this.$emit('input', this.isShow);
                this.$nextTick(() => {
                    disablePageScroll(this.$refs.scroll);
                });
            }
        },
        hide() {
            if (this.isShow) {
                this.isShow = false;
                this.$emit('hide');
                this.$emit('input', this.isShow);
                enablePageScroll(this.$refs.scroll);
            }
        }
    },
    beforeDestroy() {
        this.hide();
    }
};
</script>