<template>
    <div class="progress"
         :class="computedClass">
        <div class="progress__bar"
             :style="computedBarStyle"></div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Number,
            default: 100
        },
        max: {
            type: Number,
            default: 100
        },
        size: {
            type: String,
            default: 'small',
            validator: (value) => ['small', 'large'].includes(value)
        },
        color: {
            type: String,
            default: 'brand',
            validator: (value) => ['brand', 'danger', 'warning', 'success', 'black', 'gray']
        }
    },
    computed: {
        total() {
            return (this.value / this.max) * 100;
        },
        computedClass() {
            const size = `progress--size-${this.size}`;
            const color = `progress--color-${this.color}`;
            return [size, color];
        },
        computedBarStyle() {
            const width = this.total > 100 ? '100%' : `${this.total}%`;
            return { width };
        }
    }
};
</script>
