<template>
    <label class="photo-file">
        <input type="file"
               style="display: none;"
               @change="onChange"
               ref="input">
        <div class="photo-file__icon">
            <app-icon name="attach"></app-icon>
        </div>
        <div class="photo-file__text">
            <template v-if="file">
                {{ file.name }}
            </template>
            <template v-else>
                Выберите файл
            </template>
        </div>
    </label>
</template>

<script>
import AppIcon from '@/core/components/AppIcon.vue';

export default {
    components: {
        AppIcon
    },
    props: {
        value: {}
    },
    data() {
        return {
            file: null
        };
    },
    watch: {
        value() {
            if (!this.value) {
                this.clearInput();
            }
        }
    },
    methods: {
        onChange() {
            const $input = this.$refs.input;
            this.file = $input.files[0];
            this.$emit('input', $input.files[0]);
        },
        clearInput() {
            const $input = this.$refs.input;
            $input.value = '';
        }
    }
};
</script>