<template>
    <div class="pagination">
        <div class="pagination-control">
            <app-button class="pagination-control__button"
                        :squared="true"
                        :disabled="page <= 1"
                        size="small"
                        @click="onClick(page - 1)">
                <app-icon name="arrow-left"></app-icon>
            </app-button>
        </div>
        <div class="pagination__main">
            <div class="pagination-list">
                <template v-for="(item, index) in items">
                    <template v-if="item === '...'">
                        <div class="pagination-list__item"
                             :key="index">
                            ...
                        </div>
                    </template>
                    <template v-else>
                        <button :key="index"
                                class="pagination-list__item"
                                :class="getComputedItemClass(item)"
                                @click="onClick(item)">
                            {{ item }}
                        </button>
                    </template>
                </template>
            </div>
            <div class="pagination-m">
                {{ page }}/{{ total }}
            </div>
        </div>
        <div class="pagination-control">
            <app-button class="pagination-control__button"
                        :squared="true"
                        :disabled="page >= total"
                        size="small"
                        @click="onClick(page + 1)">
                <app-icon name="arrow-right"></app-icon>
            </app-button>
        </div>
    </div>
</template>

<script>
import AppButton from '@/core/components/AppButton.vue';
import AppIcon from '@/core/components/AppIcon.vue';

import { generatePagination } from '@/core/modules';

export default {
    props: {
        value: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            default: 1
        }
    },
    components: {
        AppButton,
        AppIcon
    },
    data() {
        return {
            page: 1
        };
    },
    computed: {
        items() {
            const items = generatePagination(this.page, this.total);
            return items;
        }
    },
    watch: {
        value: {
            handler(value) {
                this.page = value;
            },
            immediate: true
        },
        page(value) {
            this.$emit('input', value);
        }
    },
    methods: {
        getComputedItemClass(page) {
            const active = this.page === page ? 'pagination-list__item--active' : '';
            return [active];
        },
        onClick(item) {
            this.page = item;
        }
    }
};
</script>