<template>
    <img :src="src">
</template>

<script>
export default {
    props: {
        file: {
            required: true
        }
    },
    data() {
        return {
            src: ''
        };
    },
    watch: {
        file: {
            handler() {
                this.load();
            },
            immediate: true
        }
    },
    methods: {
        load() {
            if (this.file) {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.src = e.target.result;
                };

                reader.readAsDataURL(this.file);
            } else {
                this.src = '';
            }
        }
    }
};
</script>