<template>
    <div class="spin"
         :class="computedClass">
        <div class="spin__spinner"></div>
    </div>
</template>

<script>
export default {
    props: {
        size: {
            type: String,
            default: 'small',
            validation: (value) => ['large', 'medium', 'small', 'xsmall'].includes(value)
        }
    },
    computed: {
        computedClass() {
            const size = `spin--size-${this.size}`;
            return [size];
        }
    }
};
</script>