<template>
    <div class="select"
         v-if="id">
        <!--
        <select class="select__field"
                :id="id"></select>
        -->
        <div :id="rootId">
            <app-input :id="id"
                       :placeholder="placeholder"
                       :readonly-silence="true"
                       :value="activeOptionsAsString"
                       v-bind="$attrs"
                       v-on="computedListeners">
                <template #prepend
                          v-if="$slots.prepend || $scopedSlots.prepend">
                    <slot name="prepend"
                          :value="value"></slot>
                </template>
                <template #append>
                    <app-icon name="dropdown"></app-icon>
                </template>
            </app-input>
        </div>
        <app-dropdown :target="rootId"
                      :trigger-target="id"
                      :size="dropdownSize"
                      trigger="focus"
                      ref="dropdown"
                      :direction="direction"
                      :corner="corner">
            <app-dropdown-item v-for="option in options"
                               :key="option.value"
                               @click="onClickOption(option)"
                               :size="$attrs.size">
                <template #prepend
                          v-if="$slots['option-prepend'] || $scopedSlots['option-prepend']">
                    <slot name="option-prepend"
                          :value="option.value"
                          :label="option.label"></slot>
                </template>
                <slot name="option"
                      :value="option.value"
                      :label="option.label">
                    {{ option.label || option.value }}
                </slot>
                <template #append>
                    <app-icon name="checked"
                              v-if="isActiveOption(option)"></app-icon>
                </template>
            </app-dropdown-item>
        </app-dropdown>
    </div>
</template>

<script>
import AppIcon from '@/core/components/AppIcon.vue';
import AppDropdown from '@/core/components/AppDropdown.vue';
import AppDropdownItem from '@/core/components/AppDropdown/AppDropdownItem.vue';
import AppInput from '@/core/components/AppInput.vue';

import { isEqualArray, getExcludedObjectByProps } from '@/core/modules';

export default {
    components: {
        AppIcon,
        AppDropdown,
        AppDropdownItem,
        AppInput
    },
    props: {
        placeholder: {
            type: String,
            default: ''
        },
        options: {
            type: Array,
            required: true
        },
        value: {},
        multiple: {
            type: Boolean,
            default: false
        },
        direction: {
            default: 'bottom'
        },
        corner: {},
        dropdownSize: {
            default: 'fill'
        }
    },
    data() {
        return {
            id: null,
            rootId: null,
            activeOptions: []
        };
    },
    computed: {
        computedListeners() {
            return getExcludedObjectByProps(this.$listeners, ['input']);
        },
        activeOptionsAsArray() {
            const optionsAsArray = this.activeOptions.map((option) => option.value);
            return optionsAsArray;
        },
        activeOptionsAsString() {
            const optionsAsString = this.activeOptions.map((option) => option.label || option.value).join(', ');
            return optionsAsString;
        }
    },
    watch: {
        activeOptions: {
            handler(options) {
                if (options) {
                    if (this.multiple) {
                        this.$emit('input', this.activeOptionsAsArray);
                    } else {
                        this.$emit('input', this.activeOptionsAsArray[0] || '');
                    }
                }
            },
            deep: true
        },
        value: {
            handler(value) {
                if (this.multiple) {
                    if (this.activeOptionsAsArray.length <= 0) {
                        if (this.value.length > 0) {
                            this.setActiveOptionsByValue();
                        }
                    } else if (!isEqualArray(this.activeOptionsAsArray, this.value)) {
                        this.setActiveOptionsByValue();
                    }
                } else {
                    if (!this.activeOptionsAsArray[0]) {
                        if (this.value) {
                            this.setActiveOptionsByValue();
                        }
                    } else if (this.activeOptionsAsArray[0] !== this.value) {
                        this.setActiveOptionsByValue();
                    }
                }
            },
            deep: true
        }
    },
    methods: {
        initId() {
            this.rootId = `select-root-${this._uid}`;
            this.id = `select-field-${this._uid}`;
        },
        hide() {
            const $dropdown = this.$refs.dropdown;
            $dropdown.hide();
        },
        onClickOption(option) {
            if (this.multiple) {
                if (this.isActiveOption(option)) {
                    const index = this.activeOptions.findIndex((o) => o.value === option.value);
                    this.activeOptions.splice(index, 1);
                } else {
                    this.activeOptions.push(option);
                }
            } else {
                this.$set(this.activeOptions, 0, option);
                this.hide();
            }
        },
        isActiveOption(option) {
            const isActive = !!this.activeOptions.filter((o) => o.value === option.value)[0];
            return isActive;
        },
        getOptionByValue(value) {
            const option = this.options.filter((option) => option.value === value)[0];
            return option;
        },
        setActiveOptionsByValue() {
            if (this.multiple) {
                if (this.value instanceof Array) {
                    this.activeOptions = [];
                    this.value.forEach((value) => {
                        const option = this.getOptionByValue(value);
                        if (option) {
                            this.activeOptions.push(option);
                        }
                    });
                } else {
                    this.activeOptions = [];
                }
            } else {
                const option = this.getOptionByValue(this.value);
                if (option) {
                    this.activeOptions[0] = option;
                } else {
                    this.activeOptions = [];
                }
            }
        }
    },
    mounted() {
        this.initId();
        this.setActiveOptionsByValue();
    }
};
</script>