<template>
    <button type="button"
            class="switch"
            :class="computedClass"
            @click="onClick">
        <div class="switch__wrapper">
            <div class="switch__track">
                <div class="switch__slider"></div>
            </div>
            <div class="switch__label"
                 v-if="$slots.default || $scopedSlots.default">
                <slot></slot>
            </div>
        </div>
    </button>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        value: {
            type: Boolean
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            localValue: false
        };
    },
    watch: {
        localValue(value) {
            this.$emit('input', value);
        },
        value: {
            handler(value) {
                this.localValue = value;
            },
            immediate: true
        }
    },
    computed: {
        computedClass() {
            const checked = this.localValue ? `switch--checked` : '';

            return [checked];
        }
    },
    methods: {
        onClick() {
            if (this.localValue) {
                this.localValue = false;
            } else {
                this.localValue = true;
            }
        }
    }
};
</script>