<template>
    <div>
        <app-select :value="activeLang"
                    :options="options"
                    @input="setActiveLang"
                    size="small"
                    dropdown-size="small"
                    corner="right">
            <template #prepend>
                <app-flag :name="activeLang"></app-flag>
            </template>
            <template #option-prepend="{ value }">
                <app-flag :name="value"></app-flag>
            </template>
        </app-select>
    </div>
</template>

<script>
import AppSelect from '@/core/components/AppSelect.vue';
import AppFlag from '@/core/components/AppFlag.vue';

import { mapGetters, mapActions } from 'vuex';

export default {
    components: {
        AppSelect,
        AppFlag
    },
    computed: {
        ...mapGetters({
            activeLang: 'core/lang/activeLang',
            availableLang: 'core/lang/availableLang'
        }),
        options() {
            const options = [];
            this.availableLang.forEach((lang) => {
                options.push({
                    value: lang,
                    label: lang === 'ru' ? 'Русский' : 'English'
                });
            });
            return options;
        }
    },
    methods: {
        ...mapActions({
            setActiveLang: 'core/lang/setActiveLang'
        })
    }
};
</script>