<template>
    <button type="button"
            tabindex="-1"
            @mousedown="onMousedown">
        <app-icon :name="icon"></app-icon>
    </button>
</template>

<script>
import AppIcon from '@/core/components/AppIcon.vue';

export default {
    components: {
        AppIcon
    },
    computed: {
        icon() {
            if (this.active) {
                return 'eye-filled';
            } else {
                return 'eye';
            }
        }
    },
    data() {
        return {
            active: false
        };
    },
    watch: {
        active: {
            handler(value) {
                if (value) {
                    this.$emit('input', 'text');
                } else {
                    this.$emit('input', 'password');
                }
            },
            immediate: true
        }
    },
    methods: {
        onMousedown() {
            this.active = true;
        },
        onMouseup() {
            this.active = false;
        }
    },
    mounted() {
        document.addEventListener('mouseup', this.onMouseup);
    },
    beforeDestroy() {
        document.removeEventListener('mouseup', this.onMouseup);
    }
};
</script>