<template>
    <app-attach class="tooltip"
                :class="computedClass"
                :target="target"
                :trigger-target="triggerTarget"
                :direction="direction"
                :corner="corner"
                :delay-in="delayIn"
                :delay-out="delayOut"
                :trigger="trigger"
                :transition="transition"
                :responsive="responsive"
                ref="attach"
                @show="$emit('show')"
                @hide="$emit('hide')">
        <div class="tooltip__container">
            <div class="tooltip__title"
                 v-if="$slots.title || $scopedSlots.title">
                <slot name="title"
                      :hide="hide"></slot>
            </div>
            <div class="tooltip__text">
                <slot :hide="hide"></slot>
            </div>
        </div>
    </app-attach>
</template>

<script>
import AppAttach from '@/core/components/AppAttach';

export default {
    components: {
        AppAttach
    },
    props: {
        size: {
            type: String,
            default: 'large',
            validator: (value) => ['large', 'small'].includes(value)
        },
        target: {},
        triggerTarget: {},
        direction: {
            default: 'top',
            validator: (value) => ['top', 'bottom'].includes(value)
        },
        corner: {
            default: 'center'
        },
        delayIn: {
            default: 100
        },
        delayOut: {
            default: 400
        },
        trigger: {
            default: 'hover'
        },
        transition: {
            default: 'tooltip-tr'
        },
        responsive: {}
    },
    computed: {
        computedClass() {
            const size = `tooltip--size-${this.size}`;
            const title = this.$slots.title || this.$scopedSlots.title ? `tooltip--has-title` : '';
            return [size, title];
        }
    },
    methods: {
        hide() {
            const $attach = this.$refs.attach;
            $attach.hide();
        }
    }
};
</script>