<template>
    <div class="tag"
         :class="computedClass">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        color: {
            type: String,
            default: 'brand',
            validator: (value) => ['brand', 'danger', 'warning', 'success', 'black', 'gray']
        }
    },
    computed: {
        computedClass() {
            const color = `tag--color-${this.color}`;
            return [color];
        }
    }
};
</script>