<template>
    <label class="textarea">
        <textarea class="textarea__field"
                  @input="onInput"
                  v-on="computedListeners"
                  v-bind="$attrs"
                  ref="input"></textarea>
        <app-caption class="textarea__max"
                     v-if="hasMax">
            {{ maxLeft }}
        </app-caption>
    </label>
</template>

<script>
import AppCaption from '@/core/components/AppCaption.vue';

import { getExcludedObjectByProps } from '@/core/modules';

export default {
    components: {
        AppCaption
    },
    inheritAttrs: false,
    props: {
        value: {
            type: String,
            default: ''
        },
        max: {
            type: Number,
            default: 0
        }
    },
    computed: {
        computedListeners() {
            return getExcludedObjectByProps(this.$listeners, ['input']);
        },
        hasMax() {
            if (this.max > 0) {
                return true;
            } else {
                return false;
            }
        },
        maxLeft() {
            let maxLeft = this.max - this.value.length;
            if (maxLeft <= 0) {
                maxLeft = 0;
            }
            return maxLeft;
        }
    },
    watch: {
        value(value) {
            this.setInputValue(value);
        }
    },
    methods: {
        onInput(e) {
            let inputValue = e.target.value;

            if (this.hasMax && inputValue.length > this.max) {
                inputValue = inputValue.substring(0, this.max);
                this.setInputValue(inputValue);
            }

            this.$emit('input', inputValue);
        },
        setInputValue(value) {
            const $input = this.$refs['input'];
            $input.value = value;
        }
    },
    mounted() {
        this.setInputValue(this.value);
    }
};
</script>
