<template>
    <div class="tabs"
         :class="computedClass">
        <div class="tabs-list"
             ref="list"
             @wheel="onWheel">
            <button type="button"
                    class="tabs-list-item"
                    :class="getComputedItemClass(item)"
                    v-for="(item, index) in items"
                    :key="index"
                    ref="item"
                    :disabled="item.disabled"
                    @click="onItemClick(item, index)">
                <div class="tabs-list-item__container">
                    <div class="tabs-list-item__prepend"
                         v-if="$slots.prepend || $scopedSlots.prepend">
                        <slot name="prepend"
                              :label="item.label"
                              :id="item.id"></slot>
                    </div>
                    <slot :label="item.label"
                          :id="item.id">
                        {{ item.label }}
                    </slot>
                    <div class="tabs-list-item__append"
                         v-if="$slots.append || $scopedSlots.append">
                        <slot name="append"
                              :label="item.label"
                              :id="item.id"></slot>
                    </div>
                </div>
            </button>
        </div>
        <div class="tabs__track"
             ref="track"></div>
    </div>
</template>

<script>
import { getTransitionDuration } from '@/core/modules';
import anime from 'animejs/lib/anime.es';

export default {
    props: {
        items: {
            type: Array,
            required: true
        },
        value: {},
        size: {
            type: String,
            default: 'large',
            validator: (value) => ['large', 'medium', 'small'].includes(value)
        }
    },
    data() {
        return {
            activeItem: null,
            trackIsAnimate: false
        };
    },
    watch: {
        activeItem(value) {
            this.$emit('input', value);
        },
        value(value) {
            this.setActiveItem(value);
        }
    },
    computed: {
        computedClass() {
            const size = `tabs--size-${this.size}`;
            return [size];
        }
    },
    methods: {
        getComputedItemClass(item) {
            const active = item.id === this.activeItem ? 'tabs-list-item--active' : '';
            const activeTrack =
                item.id === this.activeItem && !this.trackIsAnimate ? 'tabs-list-item--active-track' : '';

            return [active, activeTrack];
        },
        initActiveItem(id) {
            const isExists = this.checkId(id);
            if (isExists) {
                this.activeItem = id;
            } else {
                this.activeItem = this.items[0].id;
            }
        },
        onItemClick(item, index) {
            this.setActiveItem(item.id, index);
        },
        setActiveItem(id, index = -1) {
            const isExists = this.checkId(id);
            if (isExists && id !== this.activeItem) {
                const prevItemIndex = this.items.findIndex((item) => item.id === this.activeItem);
                const $list = this.$refs.list;
                const $track = this.$refs.track;
                const $prevItem = this.$refs.item[prevItemIndex];
                let $item;
                if ((index = -1)) {
                    const index = this.items.findIndex((item) => item.id === id);
                    $item = this.$refs.item[index];
                } else {
                    $item = this.$refs.item[index];
                }
                const scrollLeft = $list.scrollLeft;
                const startLeft = $prevItem.offsetLeft;
                const { width: startWidth } = $prevItem.getBoundingClientRect();
                const endLeft = $item.offsetLeft;
                const { width: endWidth } = $item.getBoundingClientRect();

                this.trackIsAnimate = true;
                this.activeItem = id;

                $track.style.display = 'block';
                anime({
                    targets: $track,
                    left: [startLeft - scrollLeft, endLeft - scrollLeft],
                    width: [startWidth, endWidth],
                    duration: getTransitionDuration() * 1.5,
                    easing: 'easeInOutCirc',
                    complete: () => {
                        $track.style.display = 'none';
                        this.trackIsAnimate = false;

                        this.focusActiveItem();
                    }
                });
            }
        },
        focusActiveItem(animation = true) {
            const $list = this.$refs.list;
            const index = this.items.findIndex((item) => item.id === this.activeItem);
            const $item = this.$refs.item[index];

            const scrollLeft = $list.scrollLeft;
            const { width } = $list.getBoundingClientRect();
            const itemLeft = $item.offsetLeft;
            const { width: itemWidth } = $item.getBoundingClientRect();
            let scrollPosition = scrollLeft;
            if (itemLeft + itemWidth > width + scrollLeft) {
                scrollPosition = itemLeft - width + itemWidth;
            } else if (itemLeft < scrollLeft) {
                scrollPosition = itemLeft;
            }

            if (scrollPosition !== scrollLeft) {
                if (animation) {
                    anime({
                        targets: $list,
                        scrollLeft: scrollPosition,
                        duration: getTransitionDuration(),
                        easing: 'easeInOutCirc'
                    });
                } else {
                    $list.scrollLeft = scrollPosition;
                }
            }
        },
        checkId(id) {
            const item = this.items.filter((item) => item.id === id && !item.disabled)[0];
            return !!item;
        },
        onWheel(e) {
            const isTouchPad = e.wheelDeltaY ? e.wheelDeltaY === -3 * e.deltaY : e.deltaMode === 0;

            if (!isTouchPad) {
                const $list = this.$refs.list;
                e.preventDefault();
                const scroll = 20;
                if (e.deltaY > 0) $list.scrollLeft += scroll;
                else $list.scrollLeft -= scroll;
            }
        }
    },
    mounted() {
        this.initActiveItem(this.value);
        this.focusActiveItem(false);
    }
};
</script>
