<template>
    <div v-if="message"
         class="validation-error">
        {{ message }}
    </div>
</template>

<script>
export default {
    props: {
        message: {
            type: String
        }
    }
};
</script>