<template>
    <div class="notifications">
        <div class="notifications__container">
            <div class="notifications-list">
                <transition-group tag="div"
                                  name="notifications-list-item-tr"
                                  appear>
                    <div class="notifications-list-item"
                         v-for="item in notifications"
                         :class="getComputedItemClass(item)"
                         :key="item.id">
                        <div class="notifications-list-item__icon"
                             v-if="item.icon && item.color !== 'default'">
                            <app-icon :name="item.color"></app-icon>
                        </div>
                        <div class="notifications-list-item__content">
                            <div class="notifications-list-item__title"
                                 v-if="item.title">
                                {{ item.title }}
                            </div>
                            <div class="notifications-list-item__text">
                                {{ item.text }}
                            </div>
                        </div>
                        <button type="button"
                                class="notifications-list-item__close"
                                @click="hideNotification(item.id)">
                            <app-icon name="close"></app-icon>
                        </button>
                    </div>
                </transition-group>
            </div>
        </div>
    </div>
</template>

<script>
import AppIcon from '@/core/components/AppIcon.vue';

import { mapGetters, mapActions } from 'vuex';
import { addFillGapTarget } from 'scroll-lock';

export default {
    components: {
        AppIcon
    },
    computed: {
        ...mapGetters({
            notifications: 'core/notifications/notifications'
        })
    },
    methods: {
        ...mapActions({
            hideNotification: 'core/notifications/hide'
        }),
        getComputedItemClass(item) {
            const color = `notifications-list-item--color-${item.color}`;
            const title = item.title ? `notifications-list-item--has-title` : '';

            return [color, title];
        }
    },
    mounted() {
        addFillGapTarget(this.$el);
    }
};
</script>