<template>
    <div class="page-loading"
         v-if="isLoading">
        <div class="page-loading__bar"></div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            isLoading: 'core/pageLoading/isLoading'
        })
    }
};
</script>