<template>
    <div class="layout-default">
        <div class="layout-default__header">
            <the-header></the-header>
        </div>
        <div class="layout-default__content">
            <app-container class="layout-default__container">
                <slot></slot>
            </app-container>
        </div>
    </div>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue';
import AppContainer from '@/core/components/AppContainer.vue';

export default {
    components: {
        TheHeader,
        AppContainer
    }
};
</script>